{% extends "blog/layout.html" %}

{% block content %}
    <div style="margin-top:2rem;">
         <h1>{{ post.title }}</h1>
    </div>
    <div>
        {{ post.content|linebreaks }}
    </div>
    <hr/>
    <h3>Comments</h3>
    {% for comment in post.comment_set.all %} <!--외래키에서 모델 부르기 -->
        <li>
            {{ comment.message }}
            <small>by {{ comment.author }}</small>
            <small>at {{ comment.updated_at }}</small>
        </li>
    {% endfor %}
    <hr/>
    <a href="{% url "blog:post_list" %}">글목록</a>
{% endblock %}
