<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>쟝고 blog</title>
</head>
<body>
    <h1>AskDjango_김종혁</h1>
    <p>안녕하세요 저는 장고를 배우고 있습니당 :)</p>
    {% for post in post_list %}
        <li>
            {{ post.id }}
            {{ post.title }}
            <small>{{ post.title }}</small>
            <small>{{ post.updated_at }}</small>
        </li>
    {% endfor %}
</body>
</html>