{% extends "blog/layout.html" %}

{% block content %}

    <h2>AskDjango_김종혁</h2>
    <p>안녕하세요 저는 장고를 배우고 있습니당 :)</p>
    <form action="" method="get">
        <input type="text" name="q" /> <!-- 유알엘 상 q라는 쿼리를 만들어버리기 -->
        <input type="submit" value="검색" />
    </form>
    {% for post in post_list %}
        <li>
            {{ post.id }}
            <a href="{% url "post_detail" post.id %}">
                <!--맨 마지막 인자는 url서 넘겨야하는 인자-->
                <!--하위 페이지 만들었을때 넣어주는 그런 것이긔-->
                {{ post.title }}
            </a>
            <small>{{ post.title }}</small>
            <small>{{ post.updated_at }}</small>
        </li>
    {% endfor %}
{% endblock %}
<!-- 블락 이외는 다 무시됨 -->